.container {
  gap: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  border-radius: 10px;
}
.card {
  border: 2px solid black;
  border-radius: 10px;
  width: 400px;
  height: 500px;
}
input {
  padding: 10px;
}
.firstNumber {
  margin: 10px;
  margin-left: 90px;
}
.SecondNumber {
  margin-bottom: 10px;
}
